/* .page-header {
    transition: background 0.5s ease-in-out;
  }
  
  .page-header .navbar {
    padding: 1rem 0;
  }
  
  .page-header .navbar-toggler {
    /* the variable is inherited from BS4 built-in variables */
    border-color: var(--blue); 
  } */